.row {
  display: flex;
  margin-top: 15px; }

.caption {
  visibility: hidden;
  text-align: center; }

.toptext {
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase; }

h1, h2 {
  font-weight: 300;
  margin-left: 40px;
  text-align: center; }

h3, h4 {
  font-weight: 300; }

form, .foodrow, .titlerow, .containing, .toptext, .topsub {
  margin-left: 40px; }

.basicbox, .food {
  flex: 1; }

li, button, .containing, .white, .top {
  display: none; }

button, #submit {
  width: 150px;
  height: 50px;
  border: 1px solid #a2a2a2;
  padding: 0px;
  font-family: "Lato";
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 15px;
  background-color: white;
  border-radius: 4px; }

body {
  font-family: "Lato", sans-serif;
  background-color: #5A99A3;
  margin: 0px; }

h1 {
  text-transform: uppercase; }

h3 {
  text-transform: uppercase;
  padding-top: 15px; }

h4 {
  margin: 0px 0px 10px 0px; }

h5 {
  font-weight: 300;
  text-transform: uppercase; }

form {
  margin-right: 40px;
  background-color: #91CBC5; }

fieldset {
  border: none; }

text {
  opacity: 0;
  padding: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  word-wrap: break-word;
  width: 20px; }

img {
  height: 150px;
  margin: 15px; }

ul {
  padding-left: 10px; }

li {
  font-size: 14px;
  text-decoration: none;
  background-color: #91CBC5;
  padding: 5px;
  margin-right: 10px; }

button {
  margin-left: 50px; }

input[type='number'] {
  width: 100px; }

.basicbox {
  display: inline-block; }

.basicbox label {
  font-size: 12px; }

.offset {
  padding-top: 5px; }

.foodrow {
  display: flex;
  margin-right: 40px;
  justify-content: center; }

.food {
  padding: 30px;
  justify-content: center; }

.titlerow {
  margin-top: 40px; }

.info {
  text-align: center; }

.chart {
  flex: 0 0 73%; }

.chartInfo {
  height: 400px;
  flex: 0 0 27%;
  background-color: white; }

.containing {
  margin-right: 40px;
  margin-top: 20px;
  flex-direction: row;
  height: 440px; }

.white {
  background: white;
  margin: 40px;
  padding-top: 20px; }

.infostyle {
  padding-left: 10px; }

.top {
  margin-top: 60px; }

.toptext {
  color: white; }

.topsub {
  color: #333;
  font-size: 20px; }

.hero {
  margin: 0px 0px 80px 0px;
  height: 500px;
  background-image: url(../Assets/kona.jpg); }

.title {
  font-size: 60px;
  margin: 0px 0px 0px 700px;
  padding-top: 200px;
  position: absolute; }

.here {
  display: inline;
  position: absolute;
  margin-left: 810px;
  margin-top: 300px; }

.tidy {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.col {
  flex: 1;
  text-align: center;
  background: white;
  padding: 20px;
  margin: 0px 10px; }

.noborder {
  background: #5A99A3; }

.coltext {
  padding-top: 20px; }

.row2 {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
