body{
  font-family: "Lato", sans-serif;
  background-color: #5A99A3;
  }
h1{
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 40px;
  text-align: center;
}
h2{
  font-weight: 300;
  margin-left: 40px;
  text-align: center;
}
h3{
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 15px;
}
h4{
  margin: 0px 0px 10px 0px;
  font-weight: 300;

}
h5{
  font-weight: 300;
  text-transform: uppercase;
}
form{
  margin-left: 40px;
  margin-right: 40px;
  background-color: #91CBC5;
}
fieldset{
  border: none;
}
text{
  opacity: 0;
  padding: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 200;
}
.row{
  display: flex;
  margin-top: 15px;
}
.basicbox{
  display: inline-block;
  flex: 1;
}

.basicbox label {
  font-size: 12px;
}
.offset {
  padding-top: 5px;
}
#submit {
  width:150px;
  height: 50px;
  border: 1px solid #a2a2a2;
  padding: 0px;
  font-family: "Lato";
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 15px;
  background-color: white;
  border-radius: 4px;
}
.foodrow {
  display: flex;
  margin-left: 40px;
  margin-right: 40px;
  justify-content:center;

}
.food {
  flex: 1;
  padding: 30px;
  justify-content:center;
}
.titlerow{
  margin-top: 40px;
  margin-left: 40px;
}
img{
  height: 150px;
  margin: 15px;
}
.caption{
  visibility: hidden;
  text-align: center;
}
.info{
  text-align: center;
}
.chart{
  flex: 0 0 73%;
}
.chartInfo{
  height: 400px;
  flex: 0 0 27%;
  background-color: white;
}
.containing{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 120px;
  flex-direction: row;
  display: none;
  height: 440px;
}
ul{
  padding-left: 10px;
}
li{
  display: none;
  font-size: 14px;
  text-decoration: none;
  background-color: #91CBC5;
  padding: 5px;
  margin-right: 10px;
}
.title1 .title2 .title3 .title4 .title5 {

}
.white {
  background: white;
  margin: 40px;
  padding-top: 20px;
  display: none;
}
.infostyle{
  padding-left: 10px;
}
button{
  width:150px;
  height: 50px;
  border: 1px solid #a2a2a2;
  padding: 0px;
  font-family: "Lato";
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 15px;
  background-color: white;
  border-radius: 4px;
  margin-left: 50px;
  display: none;
}
